* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  padding: 1rem;
  background-color: black;
}

.nav-main {
  display: flex;
  justify-content: flex-start; 
  
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.menu li {
  position: relative;
  margin: 0;
}

.menu li a,.dropdown-toggle {

  color: azure;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  cursor: pointer;
  font-size: 1.8rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
  min-width: 120px;
}

.dropdown-menu li a {
  padding: 0.5rem 1rem;
  color: azure;
}

body {
  background-color: #e0e0e0;
}

#lab1-toggle:checked + .dropdown-toggle + .dropdown-menu,
#lab2-toggle:checked + .dropdown-toggle + .dropdown-menu {
  display: block;
}
